*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body{
  background: #fff;

}
h1{
  color:#0070c0;

}
p{
  color: rgb(33, 32, 32);
}
nav{
  background-color: aliceblue;
  padding: 30px;
}
/*breakhere*/
#container{
 padding:40px;
 width:70%;
 margin: auto;
}
.detail{
  width:70%;
  margin-left:30px;
 
}
.circle-cont{
  width:20%;
}
.circles{
  display: flex;
  margin:  auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #0070c0;
  position: relative;
  left:50px;
  top:5px;
}
.initials{
  position: absolute;
  top:160px;
  left:400px;
  color:#0070c0;
}
.personal-information{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;

}


.section{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 40px;
border: 1px solid white;
width: 100%;
}


.titles{
  width:20%;
  text-align: right;
  color:#0070c0;

 
}
.body-cont{
  width: 60%;
  margin-left:60px;
  

}
.body-cont1{
  width:70%;
  margin-left:60px;
}
.body-cont h3{
  color: #0070c0;
}
.body-cont ul{
  
  list-style-type: square;
  list-style-position: outside;

}
.other{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  
  
}
.other a{
  margin-right: 40px;
}

/*breakhere*/




.duration{
  
  font-style: italic;
  color:rgb(71, 68, 68);
  font-size: 13px
}

      @media screen  and (min-width:900px) and
        (max-width:1200px){
          #container{
            width:95%;
            
            
          }
        .circle-cont{
              display:none;
            }
          .personal-information{
            text-align:center;
          }
        }
  @media screen  and (min-width:600px) and
    (max-width:899px){
      #container{
        
         
          width:90%;
       
      }
       .circle-cont{
              display:none;
            }
      
       .personal-information{
            text-align:center;
         width:100%;
          }
      .detail{
        
        width:100%;
      }
      
      .body-cont{
        width:45%;
      }
    
}

@media screen  and (min-width:300px) and
  (max-width:599px){
    #container{
      width:100%;
    }
    
    .body-cont{
      width:30%;
    }
    .circle-cont{
      display: none;
    }
    .other{
      display: block;
    }
    .other a {
      margin-bottom:60px;
    }
    .personal-information{
      text-align:center;
   width:100%;
    }
  }
